<div class="container-fluid">  
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="wrapper">
        <img [src]="image.src" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{ image.title }}</h3>
        <p>{{ image.short }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
     <section class="featured">
      <div class="d-flex justify-content-center pt-4">
        <h1>Welcom to the Sport Shop!</h1>
      </div>
     </section> 
</div>