.card {
    position: relative;
  
    .image {
      position: relative;
      cursor: pointer;
  
      &:hover {
        .hover-overlay {
          opacity: 1;
  
          button {
            transform: none;
            opacity: 1;
          }
        }
      }
    }
  
    .hover-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: all 0.5s;
  
      button {
        z-index: 3000;
        transition: all 0.5s;
        width: 90px; // Set a fixed width for the buttons
        height: 40px; // Set a fixed height for the buttons
        min-width: 80px; // Ensure the minimum width of the buttons
        min-height: 40px; // Ensure the minimum height of the buttons
      }
  
      button:first-of-type {
        transform: translateX(-20px);
      }
  
      button:last-of-type {
        transform: translateX(20px);
      }
    }
  }